.orcamento-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.box-btn-orcamento {
  display: flex;
  max-width: 300px;
  width: 300px;
  padding: 10px;
  justify-content: space-around;
}

.box-btn-orcamento button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(80, 124, 255);
  color: white;
  cursor: pointer;
}

.gerar-orcamento-container {
  margin-top: 30px;
  max-width: 100%;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gerar-orcamento-container h1 {
  font-size: 28px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.dados-clientes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.dados-clientes h3 {
  font-size: 16px;
}

.dados-cliente-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dados-cliente-input {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.dados-cliente-input input {
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.dados-cliente-input span {
  display: block;
  width: 20%;
}

.dados-cliente-endereco {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dados-cliente-endereco input,
.dados-cliente-endereco select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}

.dados-cliente-input:nth-child(6),
.dados-cliente-input:nth-child(7),
.dados-cliente-input:nth-child(8) {
  justify-content: left;
}

.dados-cliente-input select {
  width: 200px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.dados-cliente-input textarea {
  width: 300px;
}

.buscar-produto-box {
  background-color: #fff;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buscar-produto-lista {
  display: flex;
  flex-direction: column;
}

.buscar-produto-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscar-produto-input span {
  width: 22%;
}

.buscar-produto-input input {
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}

.buscar-produto-input button {
  width: 200px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(80, 124, 255);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.pdf-btn {
  width: 300px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(80, 124, 255);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.remove-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  width: 100px;
}

.valor-total-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.valor-total-input {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.valor-total-input input {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 8px;
}

.valor-total-resultado {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
  font-size: 16px;
}

.valor-total-resultado :nth-child(4) {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}


@media (max-width: 768px){
  .dados-cliente-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dados-cliente-input input, .dados-cliente-input span{
    width: 100%;
  }

  .dados-cliente-endereco{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .dados-cliente-endereco div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .dados-cliente-endereco div input{
    width: 100%;
  }

  .dados-cliente-endereco div select{
    max-width: 100px;
  }

  .dados-cliente-input textarea{
    max-width: 500px;
    width: 100%;
  }

  .buscar-produto-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .buscar-produto-input span{
    width: 100%;
  }

  .lista-produto{
    display: flex;
    flex-direction: column;
  }

  .header-tabela{
    display: none;
  }

  .corpo-tabela{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 15px 5px;
  }

  .corpo-tabela td{
    font-size: 16px;
  }

  .corpo-tabela td input{
    height: 40px;
    text-align: center;
  }

  .corpo-tabela textarea{
    width: 100%;
  }

  .valor-total-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
  }

  .valor-total-input div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .valor-total-input input{
    margin: 0;
    max-width: 120px;
  }

  .pdf-btn{
    width: 200px;
    font-size: 16px;
  }
}

@media(max-width: 425px){
  .orcamento-container{
    padding-top: 80px;
  }
}