.side-menu {
  max-width: 100%;
  min-height: 100vh;
  background-color: #131c2d;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  padding-top: 100px;
  position: fixed;
  left: 0;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sidebar-list li a {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: #222;
    transition: left 0.3s ease-in-out;
    z-index: 200;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }

  .side-menu.aberto {
    left: 0;
  }
}
