@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.hamburger-menu,
.close-menu {
  display: none;
}

@media (max-width: 1024px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 100;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    background-color: #333;
    cursor: pointer;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
}
